body{
	
}
#wrapper{
	margin: 0 auto;
	text-align: center;
	float: block;
}
#MainName{
	color: black;
	text-align: center;
}
h3{
	text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 5px;
    padding: 15px;
}